# ==========================================
# Fichiers de configuration locaux & IDE
# ==========================================
.idea/
.gradle/
*.iml
*.iws
*.ipr
.vscode/
local.properties
log.txt
.DS_Store

# ==========================================
# Sécurité & Secrets (TRÈS IMPORTANT)
# ==========================================
*firebase-service-account.json
*.jks
*.keystore

# ==========================================
# Règles pour l'application Mobile (Android)
# ==========================================
/mobile/build/
/mobile/app/build/
/mobile/app/release/
.externalNativeBuild/
.cxx/
captures/

# ==========================================
# Règles pour le Backend (Spring Boot / Maven)
# ==========================================
target/
.mvn/wrapper/maven-wrapper.properties
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
HELP.md

### STS / Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/